.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.invoice {
    padding-right: 30px;
    min-width: 40%;
    max-width: 40%;
}

.payment {
    padding-left: 30px;
    min-width: 60%;
    max-width: 60%;
}

.column table tbody tr:hover {
    background-color: #e9ecef;
}

.match-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.match-container {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.match-container .table {
    margin-bottom: 0px;
    width: calc(100%);
}

.column table thead th, .column table tbody td {
    padding: 5px; /* Consistent padding for header and cells */
}