<!-- base.html -->
<!doctype html>
<html>
<head>
	{% load static %}

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>

	{% block style %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"/>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	{% endblock %}

	<title>{% block title %}Orchard lodge{% endblock %}</title>
</head>
 
<body>
	<form id="logout-form" action="/logout/" method="POST" style="display: none;">
		{% csrf_token %}
	</form>
	
	<div class="sidenav">
		<a href="/">Home</a>
		<br/><br/>
		<a href="/residents">Residents</a>
		<a href="/payments">Payments</a>
		<!-- <a href="/cash-and-cheques">Cash and<br/>Cheques</a>
		<br/><br/>
		<a href="/upload">Upload</a>
		<a href="/download">Download</a> -->
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<a href="/change-password">Change password</a>
		<a href="javascript:void(0)" onclick="document.getElementById('logout-form').submit();">Logout</a>
	</div>
 
	<div id="content" name="content" class="main">
		<div class="row justify-content-center">
			<div class="col-8">
				<h1 class="mt-2">Orchard lodge accounting</h1>
				<hr class="mt-0 mb-4">
                {% block content %}
                {% endblock %}
			</div>
		</div>
	</div>
</body>
</html>

{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
{% endblock %}