{% extends 'main/base.html' %}

{% block title %}
New payments
{% endblock %}

{% block content %}
    <h3>New payments</h3>

    <table class="table table-bordered table-striped table-sm">
        <thread>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thread>
        <tbody>
            {% for payment in new_payments %}
                <tr>
                    <td>{{payment.date}}</td>
                    <td>{{payment.description}}</td>
                    <td>{{payment.amount}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No new payments.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/payments" class="btn btn-primary">Back to payments</a>
{% endblock %}
