{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Residents page
{% endblock %}

{% block content %}

<h3 style="margin-bottom: 20px">Current resident dashboard</h3>
<p style="margin-bottom: 20px">In this dashboard and the dashboard below, any <b>invoices and payments from before April 2023 are ignored!</b></p>
<table class="table table-bordered table-striped table-sm" id="resident-info">
    <thead>
        <tr>
            <th>Resident</th>
            <th>Invoices Issued</th>
            <th>Invoice Total</th>
            <th>Payments Received</th>
            <th>Total Payed</th>
            <th>Total Owed</th>
            <th>Total Payed By Sefton</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: darkgrey"><td colspan="7" class="title"><b>Current residents with personal contributions</b></td></tr>
        {% for res, invoice_no, invoice_total, payment_no, payment_total, owed, sefton_payment_total in resident_info_table %}
            <tr id="{{res.name}}">
                <td><a href="/residents/{{res.url}}">{{res.name}}</a></td>
                <td>{{invoice_no}}</td>
                <td>{{invoice_total}}</td>
                <td>{{payment_no}}</td>
                <td>{{payment_total}}</td>
                <td>{{owed}}</td>
                <td>{{sefton_payment_total}}</td>
            </tr>
        {% endfor %}
        <tr style="background-color: darkgrey"><td colspan="7" class="title"><b>Current private residents</b></td></tr>
        {% for res, invoice_no, invoice_total, payment_no, payment_total, owed, sefton_payment_total in private_resident_info_table %}
            <tr id="{{res.name}}">
                <td><a href="/residents/{{res.url}}">{{res.name}}</a></td>
                <td>{{invoice_no}}</td>
                <td>{{invoice_total}}</td>
                <td>{{payment_no}}</td>
                <td>{{payment_total}}</td>
                <td>{{owed}}</td>
                <td>{{sefton_payment_total}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h3 style="margin-bottom: 20px">New resident form</h3>
<p>Fill in the form below to add a new resident.</p>
<form method="post" class="form-group">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="Updating resident info">
    <div class="container">
        <div class="row">
            <div class="col-sm-1.5"><b>{{resident_form.title.label_tag}}</b>  {{resident_form.title}}</div>
            <div class="col-sm-3"><b>{{resident_form.first.label_tag}}</b>  {{resident_form.first}}</div>
            <div class="col-sm-2.5"><b>{{resident_form.last.label_tag}}</b>  {{resident_form.last}}</div>
        </div>
        <div class="row">
            <div class="col-sm-2"><b>{{resident_form.current.label_tag}}</b>  {{resident_form.current}}</div>
            <div class="col-sm-2"><b>{{resident_form.private.label_tag}}</b>  {{resident_form.private}}</div>
            {% if res.private %}
                <div class="col-sm-3"><b>{{resident_form.private_rate.label_tag}}</b>  {{resident_form.private_rate}}</div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm"><b>{{resident_form.filters.label_tag}}</b>  {{resident_form.filters}}</div>
            <button type="submit" class="col-sm-4 btn btn-primary">Add new resident</button>
        </div>
    </div>    
</form>

<h3 style="margin-bottom: 20px">Dashboard for recently left residents</h3>
<p style="margin-bottom: 20px">In this dashboard a resident is considered to have "recently left" if they left any time during 2023 or after.</p>
<table class="table table-bordered table-striped table-sm" id="resident-info">
    <thead>
        <tr>
            <th>Resident</th>
            <th>Invoices Issued</th>
            <th>Invoice Total</th>
            <th>Payments Received</th>
            <th>Total Payed</th>
            <th>Total Owed</th>
            <th>Total Payed By Sefton</th>
            <th>Date Left</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: darkgrey"><td colspan="8" class="title"><b>Recently left residents</b></td></tr>
        {% for res, invoice_no, invoice_total, payment_no, payment_total, owed, sefton_payment_total, date_left in recent_resident_info_table %}
            <tr id="{{res.name}}">
                <td><a href="/residents/{{res.url}}">{{res.name}}</a></td>
                <td>{{invoice_no}}</td>
                <td>{{invoice_total}}</td>
                <td>{{payment_no}}</td>
                <td>{{payment_total}}</td>
                <td>{{owed}}</td>
                <td>{{sefton_payment_total}}</td>
                <td>{{date_left}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
