{% extends 'main/base.html' %}

{% block title %}
{{res.name}}'s page
{% endblock %}

{% load static %}
{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/specific_resident.css' %}">
{% endblock %}

{% block content %}
<p>Resident information can be edited here. Please double check any edits before clicking the submit button.</p>

<form method="post" class="form-group">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="Updating resident info">
    <div class="container">
        <div class="row">
            <div class="col-sm-1.5"><b>{{resident_form.title.label_tag}}</b>  {{resident_form.title}}</div>
            <div class="col-sm-3"><b>{{resident_form.first.label_tag}}</b>  {{resident_form.first}}</div>
            <div class="col-sm-2.5"><b>{{resident_form.last.label_tag}}</b>  {{resident_form.last}}</div>
        </div>
        <div class="row">
            <div class="col-sm-2"><b>{{resident_form.current.label_tag}}</b>  {{resident_form.current}}</div>
            <div class="col-sm-2"><b>{{resident_form.private.label_tag}}</b>  {{resident_form.private}}</div>
            {% if res.private %}
                <div class="col-sm-3"><b>{{resident_form.private_rate.label_tag}}</b>  {{resident_form.private_rate}}</div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm"><b>{{resident_form.filters.label_tag}}</b>  {{resident_form.filters}}</div>
        </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br/>

<!-- ======================================================================================================================================================================================== -->

<div id="tentative-matches" class="row">
    <!-- Tenative matches get appended here with Javascript -->
</div> 

<h3>Unmatched invoices and payments for {{res.name}}</h3>
<div class="row">
    <div class="column invoice">
        <form method="post" class="form-group">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="Payment matching">
            <table class="table table-bordered table-striped table-sm" id="invoices-to-match">
                <thead>
                    <tr>
                        <th>Invoice #</th>
                        <th>Batch #</th>
                        <th>Date</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in unmatched_invoices %}
                        <tr id="Invoice-{{invoice.id}}" draggable="true" ondragstart="event.dataTransfer.setData('text/plain', event.target.id)">
                            <td>{{invoice.invoice_number}}</td>
                            <td>{{invoice.batch_number}}</td>
                            <td>{{invoice.date}}</td>
                            <td>{{invoice.str_total}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="column payment">
        <table class="table table-striped table-bordered table-sm" id="payments-to-match">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in unmatched_payments %}
                    <tr id="Payment-{{payment.id}}" ondragover="event.preventDefault()" ondrop="handle_matching(event)">
                        <td>{{payment.id}}</td>
                        <td>{{payment.date}}</td>
                        <td>{{payment.description}}</td>
                        <td>{{payment.str_amount}}</td>
                        <td>{{payment.type}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- ======================================================================================================================================================================================== -->

<h3>Matched invoices and payments for {{res.name}}</h3>
<div class="row">
    <div class="column invoice">
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Invoice #</th>
                    <th>Batch #</th>
                    <th>Date</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in matched_invoices %}
                    <tr>
                        <td>{{invoice.invoice_number}}</td>
                        <td>{{invoice.batch_number}}</td>
                        <td>{{invoice.date}}</td>
                        <td>{{invoice.str_total}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="column payment">
        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in matched_payments %}
                    <tr>
                        <td>{{payment.id}}</td>
                        <td>{{payment.date}}</td>
                        <td>{{payment.description}}</td>
                        <td>{{payment.str_amount}}</td>
                        <td>{{payment.type}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

<!-- ======================================================================================================================================================================================== -->

{% block scripts %}
{{ block.super }}
<script>
    function handle_matching(event) {
        event.preventDefault();
        
        const tentative_matches = document.getElementById('tentative-matches');
        let matches = tentative_matches.children.length
        if ( matches === 0) {
            const matchHeader = createMatchHeader();
            tentative_matches.appendChild(matchHeader);
            matches = 1;
        }

        const invoice_id = event.dataTransfer.getData('text/plain');
        const invoice_element = document.getElementById(invoice_id).closest('tr')
        const payment_element = event.target.closest('tr')

        if (payment_element.closest('div').id.includes('matched-payment')){
            match = payment_element.closest('div').id.split("-")[2];
            const invoice_tbody = document.getElementById(`matched-invoice-tbody-${match}`);
            invoice_tbody.appendChild(invoice_element);
        } else {
            create_new_match(tentative_matches, matches, invoice_element, payment_element);
        }
    }

    function create_new_match(tentative_matches, matches, invoice_element, payment_element){
        const matchContainer = document.createElement('div');
        matchContainer.className = `match-container-${matches}`;
        matchContainer.style.border = '2px solid red';
        matchContainer.style.display = 'flex';
        matchContainer.style.marginBottom = '10px';

        invoice_table_div = create_match_subtable(invoice_element, 'invoice', matches);
        payment_table_div = create_match_subtable(payment_element, 'payment', matches);

        matchContainer.appendChild(invoice_table_div);
        matchContainer.appendChild(payment_table_div);

        tentative_matches.appendChild(matchContainer);
    }

    function create_match_subtable(row_element, invoice_or_payment, matches){
        const div_element = document.createElement('div');
        div_element.className = `column ${invoice_or_payment}`;
        div_element.id = `matched-${invoice_or_payment}-${matches}`;
        
        const table_element = document.createElement('table');
        table_element.className = 'table table-bordered table-striped table-sm';
        
        const tbody_element = document.createElement('tbody');
        tbody_element.id = `matched-invoice-tbody-${matches}`;

        
        tbody_element.appendChild(row_element);
        table_element.appendChild(tbody_element);
        div_element.appendChild(table_element);

        return div_element;
    }

    function createMatchHeader() {
        const header = document.createElement('div');
        header.className = 'match-header';
        header.innerHTML = `
            <div class="column invoice">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th>Invoice #</th>
                        <th>Batch #</th>
                        <th>Date</th>
                        <th>Total</th>
                    </tr>
                </thead>
            </table>
            </div>
            <div class="column payment">
            <table class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Type</th>
                    </tr>
                </thead>
            </table>
            </div>
        `;
        header.style.display = 'flex';
        header.style.justifyContent = 'space-between';
        header.style.width = '100%';
        header.style.marginBottom = '10px';

        return header;
    }
</script>
{% endblock %}